* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 400px;
  height: 221px;
  overflow: hidden;
}
.wrapper-img {
  height: 100%;
  display: flex;
  transition: all 0.3s;
}

.wrapper .img {
  width: 400px;
  height: 221px;
  background-size: cover;
}
